<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>班级信息</title>
</head>
<body>
    <h1>班级信息列表</h1>
    <ul>
        {% for grade in grades %}
        <li>
            <a href="#">{{ grade.gname }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>